.normal {
  display: flex;
  flex-direction: column;
}

.normal .toggle {
  text-align: center;
  width: 40px;
  /* auto, since non-WebKit browsers doesn't support input styling */
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  /* Mobile Safari */
  border: none;
  appearance: none;
}

.normal .toggle:after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="%23ededed" stroke-width="3"/></svg>');
}

.normal .toggle:checked:after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="%23bddad5" stroke-width="3"/><path fill="%235dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
}

.normal label {
  white-space: pre-line;
  word-break: break-all;
  padding: 15px 30px 15px 15px;
  margin-left: 45px;
  display: block;
  line-height: 1.2;
  transition: color 0.4s;
  order: 2;
}

.normal .info {
  order: 1;
  padding-right: 20px;
  font-size: 12px;
  text-align: right;
}

.normal .info span {
  margin-right: 4px;
}

.normal .info label {
  display: inline;
  padding: 0px;
  margin: 4px;
}

.name {
  font-size: 36px;
}

.normal .destroy {
  display: none;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: auto 0;
  font-size: 30px;
  color: #cc9a9a;
  margin-bottom: 11px;
  transition: color 0.2s ease-out;
}

.normal .destroy:hover {
  color: #af5b5e;
}

.normal .destroy:after {
  content: '×';
}

.normal:hover .destroy {
  display: block;
}

.normal .edit {
  display: none;
}

.editing {
  border-bottom: none;
  padding: 0;
  composes: normal;
}

.editing:last-child {
  margin-bottom: -1px;
}

.editing .edit {
  display: block;
  width: 506px;
  padding: 13px 17px 12px 17px;
  margin: 0 0 0 43px;
}

.editing .view {
  display: none;
}

.completed label {
  color: #d9d9d9;
  text-decoration: line-through;
}

/*
  Hack to remove background from Mobile Safari.
  Can't use it globally since it destroys checkboxes in Firefox
*/

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .normal .toggle {
    background: none;
  }
  .normal .toggle {
    height: 40px;
  }
}
