.main {
  position: relative;
  z-index: 2;
  border-top: 1px solid #e6e6e6;
}

.normal {
  margin: 0;
  padding: 0;
  list-style: none;
}

.normal li {
  position: relative;
  font-size: 24px;
  border-bottom: 1px solid #ededed;
}

.normal li:last-child {
  border-bottom: none;
}

.normal li.editing {
  border-bottom: none;
  padding: 0;
}

.normal li.editing .edit {
  display: block;
  width: 506px;
  padding: 13px 17px 12px 17px;
  margin: 0 0 0 43px;
}

.normal li.editing .view {
  display: none;
}

.normal li .toggle {
  text-align: center;
  width: 40px;
  /* auto, since non-WebKit browsers doesn't support input styling */
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  /* Mobile Safari */
  border: none;
  appearance: none;
}

.normal li.completed label {
  color: #d9d9d9;
  text-decoration: line-through;
}
.normal li .destroy:hover {
  color: #af5b5e;
}

.normal li .destroy:after {
  content: '×';
}

.normal li:hover .destroy {
  display: block;
}

.normal li .edit {
  display: none;
}

.normal li.editing:last-child {
  margin-bottom: -1px;
}

.toggleAll {
  position: absolute;
  top: -55px;
  left: -12px;
  width: 60px;
  height: 34px;
  text-align: center;
  border: none;
  /* Mobile Safari */
}

.toggleAll:before {
  content: '❯';
  font-size: 22px;
  color: #e6e6e6;
  padding: 10px 27px 10px 27px;
}

.toggleAll:checked:before {
  color: #737373;
}

.pagination {
  margin: auto;
  width: 50%;
}

.ulPagination {
  display: inline-block;
  margin: 20px 0;
  border-radius: 4px;
}

/*
  Hack to remove background from Mobile Safari.
  Can't use it globally since it destroys checkboxes in Firefox
*/

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .toggleAll,
  .normal li .toggle {
    background: none;
  }
  .normal li .toggle {
    height: 40px;
  }
  .toggleAll {
    transform: rotate(90deg);
    appearance: none;
  }
}
